body{
    /* font-family: 'Open Sans'; */
    background-color:#eee ; 
    font-family: 'Roboto', sans-serif;
}

header{
background-color:#6d8adbc7 ;
width:100%;
padding:17px 0;
text-align:center;
position:sticky;
top:0;
z-index:9999;
/* font-family: 'Open Sans'; */
font-family: 'Roboto', sans-serif;
font-size: 24px;
font-weight: bolder;


}



h1{
    text-emphasis:center;
    text-emphasis: center;
    /* font-family: 'Open Sans'; */
    font-family: 'Roboto', sans-serif;
    margin-bottom: 50px;
}

section#number2{
    float: left;
    margin-top: -500px;
    margin-left: 600px;
    text-align: center;
    /* font-family: 'Open Sans'; */
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
    padding: 100px;

}

#b1{
    background-color:#6d8adbc7; 
    font-family: 'Roboto', sans-serif;
    margin-bottom: 5px;
    margin-left: 400px;
    font-size: 16px;
    font-weight: bolder;
    
}

#things{

font-family: 'Roboto', sans-serif;
background-color:#dae4ff ;
text-align: center;
background-color:#dae4ff ;
width:30%;
margin-top: 150px;
margin-bottom: 50px;
margin-left: 90px;
/* font-family: 'Open Sans'; */
font-family: 'Roboto', sans-serif;


}

#datefield{
    width: 400px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    

}

h3{
    margin-bottom: 30px;
    margin-top: 10px;
    float: left;
   
    
}

#textfield{
    width: 400px;
    height: 30px;
    margin-bottom: 30px;
   
}

#date{
    margin-top: 50px;
    margin-bottom: 20px;
    padding-left: 10px;
}
#add{

  
    margin-bottom: 20px;
    padding-left: 10px;

}